/* MISC */

.turq {
    color: #1EA896;
}


/* NAVBAR */

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}


/* HOME */

#home{
    background: grey;
    height:600px;
    background: url('../images/home-background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABOUT */

#about{
    background: white;
    height:600px;
}

/* WORK  */

#work{
    background: grey;
    height:600px;
}


/* CONTACT */

#contact{
    background: white;
    height:600px;
}


/* FOOTER */

footer {
    background:grey;
}

/* MISC */

.center {
    text-align: center;
}

