/* MISC */

.turq {
    color: #1EA896;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding-bottom: 20px;
    
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

/* NAVBAR */

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #4C5454;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #1EA896;
}

/* HOME */

#home{
    background: grey;
    height:600px;
    background: url('../images/home-background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABOUT */

#about{
    background: white;
    height:600px;
}

.logos {
    margin: 10px;
}

/* WORK  */

#work{
    background: grey;
    height:600px;
}


/* CONTACT */

#contact{
    background: white;
    height:600px;
}


/* FOOTER */

footer {
    background:grey;
}



